a {
  text-decoration: none;
  color: #000;
}

table {
  border: 5px double black;
}

td {
  border: 1px solid black;
}

.oddRow {
  background-color: #cfffcf;
}

.evenRow {
  background-color: #d3fcff;
}

.correctRow {
  background-color: #cfffcf;
}

.incorrectRow {
  background-color: #ff7d7a;
}
